* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
}

.jumbotron {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: 'Kanit', sans-serif;

}


#search-button {
    width: 17rem;
}

#search-input {
    width: 17rem;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 300px;
    margin-left: 1rem;  
}

#current-condition {
    margin: 1rem;
}

.home-section {
    /* display: flex;
    flex-wrap: wrap; */
    height: 100%;
    position: relative;
    width: calc(100% - 300px);
    left: 350px;
}

.bottom-section {
    position: relative;
    width: calc(100% - 300px);
    left: 350px;
}

.card-deck {
    width: 1300px;
}

.future-body {
    background-color: navy;
    color: white;
    padding: 1rem;
}